<div class="w-full md:w-5/6 mx-auto px-8 mt-16 md:mt-32">
  <div class="grid grid-cols-2 gap-5">
    <div class="col-span-2 md:col-span-1">
      <div>
        <div>
          <h2 class="text-gray-800">Our Top Courses</h2>
          <p>Take a look at some of our popular courses</p>
          <a
            href="#"
            class="text-xl text-blue-800 transition hover:text-orange-400 font-bold underline"
            >View all Courses</a
          >
        </div>

        <div class="bg-sky-100 my-5 md:my-10 rounded-2xl">
          <div class="p-5 md:p-16">
            <div>
              <img
                class="mx-auto rounded-xl"
                src="assets/images/software-engineering-630x330-1.webp"
                alt="Software Engineer Image"
              />
            </div>
            <div class="my-5">
              <h3>Software Engineering</h3>
              <p class="text-gray-700">
                Software Engineering is one of the most in-demand jobs across
                the globe today.
              </p>
              <p class="text-gray-700">
                Software Engineers are also known as programmers, developers or
                coders. They are the ones behind all the apps and software you
                use today either on your phone or computer within your browser.
                Software such as banking apps, booking apps, mailing apps (e.g
                Gmail), Chat apps (e.g WhatsApp) and other Social apps (e.g
                Twitter, Facebook) and many more are created by software
                engineers.
              </p>
              <a
                href="#"
                class="text-xl text-blue-800 transition hover:text-orange-400 hover:bg-white hover:rounded-full font-bold underline"
                >Learn More</a
              >
            </div>
          </div>
        </div>

        <div class="bg-orange-200 my-10 rounded-2xl">
          <div class="p-5 md:p-16">
            <div>
              <img
                class="mx-auto rounded-xl"
                src="assets/images/product.jpg"
                alt="Software Engineer Image"
              />
            </div>
            <div class="my-5">
              <h3>UI/UX – Product Design</h3>
              <p class="text-gray-700">
                More than ever before individuals and businesses are relying on
                digital products and services. From online meeting tools to
                finance, from e-commerce platforms to healthcare and food apps.
                Making an intuitive digital product design is even more import
                at this time as it determines the overall experience of the
                users.
              </p>
              <p class="text-gray-700">
                Here, you’ll build your product design skillset from the bottom
                up with lessons, mentorship sessions, and career advice from our
                design professionals.
              </p>
              <a
                href="#"
                class="text-xl text-blue-800 transition hover:text-orange-400 hover:bg-white hover:rounded-full font-bold underline"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-2 md:col-span-1">
      <div>
        <div class="bg-lime-100 my-5 md:my-10 rounded-2xl border border-black">
          <div class="p-5 md:p-16">
            <div>
              <img
                class="mx-auto rounded-xl"
                src="assets/images/software-engineering-630x330-1.webp"
                alt="Software Engineer Image"
              />
            </div>
            <div class="my-5">
              <h3>Data Science & Analysis</h3>
              <p class="text-gray-700">
                The eruption of data is transforming indiviuals and businesses. Companies either big or small are now expecting their business decisions to be based on data-led insight.
              </p>
              <p class="text-gray-700">
                Data specialists have a tremendous impact on business strategies and marketing tactics because everyone now depends on data to formulate improved strategies for the future of their companies.
              </p>
              <a
                href="#"
                class="text-xl text-blue-800 transition hover:text-orange-400 hover:bg-white hover:rounded-full font-bold underline"
                >Learn More</a
              >
            </div>
          </div>
        </div>

        <div class="bg-fuchsia-100 my-10 rounded-2xl border border-black">
          <div class="p-5 md:p-16">
            <div>
              <img
                class="mx-auto rounded-xl"
                src="assets/images/product.jpg"
                alt="Software Engineer Image"
              />
            </div>
            <div class="my-5">
              <h3>Digital Literacy</h3>
              <p class="text-gray-700">
                This course is designed to prepare you for success in a modern world full of computers—not only the traditional computers such as desktop and notebook PCs but also computers that you interact with in other places too, like your bank’s ATM or your employer’s computerized cash register. In this course, you will learn about the technologies that drive our computerized society, including the Internet and local area networks (LANs).
              </p>
              <p class="text-gray-700">
                Taking this course will help you become a digitally literate person—that is, someone who understands how computer technology fits into our modern society and knows how to navigate a variety of computing environments.
              </p>
              <a
                href="#"
                class="text-xl text-blue-800 transition hover:text-orange-400 hover:bg-white hover:rounded-full font-bold underline"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
