<div class="w-full md:w-5/6 mx-auto px-8">
  <div class="grid grid-cols-2 gap-10 mb-10">
    <div class="col-span-2 md:col-span-1 hidden md:flex">
      <img src="assets/images/sqi-graduate1.jpg" alt="SQI Graduate Image" />
    </div>
    <div class="col-span-2 md:col-span-1 border-y-2 py-3 mt-10 md:mt-0">
      <h3>SCICT AT A GLANCE</h3>
      <p>
        SQI College of ICT is an accredited institution. SQI College of ICT
        offers both National Diploma (2 years), Professional Diploma (1 year)
        and Certificate Courses (from 2 weeks).
      </p>
      <p>
        The National Innovative Diploma conforms with the standard National
        Diploma Certificate obtained in Polytechnics while the Professional
        certificate is the certificate you earn after taking a professional
        course here at SQI.
      </p>
      <p>
        You can use the Diploma certificate to seek admissions into the
        University through Direct Entry or for Higher National Diploma (HND).
        While the professional Certificate is recognized worldwide not as a
        degree but as a proof of having undergone professional training in the
        field for which the certificate is issued.
      </p>
    </div>
  </div>

  <div>
    <h2 class="text-blue-950 pr-16 md:pr-0">Start here. Change the world.</h2>
    <div class="grid grid-cols-3 gap-8 md:gap-20">
      <div class="col-span-3 md:col-span-1">
        <div>
          <a href="#">
            <img class="grayscale" src="assets/images/college.jpg" alt="" />
          </a>
          <div>
            <a href="#">
              <h4 class="text-blue-950">National Innovative Diploma (NID)</h4>
            </a>
            <p>
              The National Innovation Diploma (NID) offered at SQI College of
              ICT is a 2 year approved academic program of the National Board
              for Technical Education (NBTE).
            </p>
            <a
              href="#"
              class="inline-flex items-center text-2xl font-normal text-blue-950 underline underline-offset-8 hover:opacity-80 transition"
            >
              Learn more
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="col-span-3 md:col-span-1">
        <div>
          <a href="#">
            <img class="grayscale" src="assets/images/prof.jpg" alt="" />
          </a>
          <div>
            <a href="#">
              <h4 class="text-blue-950">Professional Diploma Certificate</h4>
            </a>
            <p>
              The Professional Certificate Program is 1 year practical training
              with wide range of edge-cutting IT certification courses offered
              in SQI College of ICT to people who want to advance their career.
            </p>
            <a
              href="#"
              class="inline-flex items-center text-2xl font-normal text-blue-950 underline underline-offset-8 hover:opacity-80 transition"
            >
              Learn more
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="col-span-3 md:col-span-1">
        <div>
          <a href="#">
            <img class="grayscale" src="assets/images/certificate.jpg" alt="" />
          </a>
          <div>
            <a href="#">
              <h4 class="text-blue-950">Certificate Program</h4>
            </a>
            <p>
              The Certificate Program is a short-term training, 2 weeks to 6
              months with a wide range of edge-cutting IT certification courses
              offered in SQI College of ICT to people who want to advance their
              careers.
            </p>
            <a
              href="#"
              class="inline-flex items-center text-2xl font-normal text-blue-950 underline underline-offset-8 hover:opacity-80 transition"
            >
              Learn more
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="col-span-3 md:col-span-1">
        <h4 class="text-gray-800">NATIONAL DIPLOMA COURSES</h4>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Duration:</span>
          <span class="text-light">2 Years</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Certificate:</span>
          <span class="text-light">Both National Diploma and Professional Diploma</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Skills:</span>
          <span class="text-light">Academic Institution recognized skills and In-demand professional skills.</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Entry Requirements:</span>
          <span class="text-light">120 min in JAMB
            5 Credits in O-Level, Your passion</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Required Hardware:</span>
          <span class="text-light">(usually Laptop)</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Direct Entry:</span>
          <span class="text-light">Yes (Any University)</span>
        </div>
        <div>
          <span class="text-bold mr-2">Access to Alumni Network and Opportunities:</span>
          <span class="text-light">Yes.</span>
        </div>
      </div>

      <div class="col-span-3 md:col-span-1">
        <h4 class="text-gray-800">NATIONAL DIPLOMA COURSES</h4>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Duration:</span>
          <span class="text-light">1 Year Courses</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Certificate:</span>
          <span class="text-light">Professional Diploma</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Skills:</span>
          <span class="text-light">In-demand professional skills</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Entry Requirements:</span>
          <span class="text-light">Your passion</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Required Hardware:</span>
          <span class="text-light">(usually Laptop)</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Direct Entry:</span>
          <span class="text-light">Partially Yes (LAUTECH ODL)</span>
        </div>
        <div>
          <span class="text-bold mr-2">Access to Alumni Network and Opportunities:</span>
          <span class="text-light">Yes.</span>
        </div>
      </div>

      <div class="col-span-3 md:col-span-1">
        <h4 class="text-gray-800">NATIONAL DIPLOMA COURSES</h4>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Duration:</span>
          <span class="text-light">2 weeks to 6 months</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Certificate:</span>
          <span class="text-light">Professional Diploma</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Skills:</span>
          <span class="text-light">In-demand professional skills</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Entry Requirements:</span>
          <span class="text-light">\Your passion</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Required Hardware:</span>
          <span class="text-light">(usually Laptop)</span>
        </div>
        <div class="border-b-2 pb-2 mb-8">
          <span class="text-bold mr-2">Direct Entry:</span>
          <span class="text-light">No</span>
        </div>
        <div>
          <span class="text-bold mr-2">Access to Alumni Network and Opportunities:</span>
          <span class="text-light">Yes.</span>
        </div>
      </div>
    </div>
  </div>
</div>
